<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <!-- <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> -->
  <title>interdom s.c.</title>
</head>

<body>
  <div class="menu-btn">
    <div class="menu-btn__burger"> </div>
  </div>

  <nav class="page__nav">
    <a href="./index.html" class="brand">
      <img class="logo" src='../images/content/logo-mg.png' alt='logo' title='logo' />
    </a>
    <ul class="page__nav-list">
      <li class="page__nav-list-item"><a href="#about" class="page__nav-list-item-link page-link" data-text="O firme">O firmie</a></li>
      <li class="page__nav-list-item"><a href="#offer" class="page__nav-list-item-link page-link" data-text="Oferta">Oferta</a></li>
      <li class="page__nav-list-item"><a href="#team" class="page__nav-list-item-link page-link" data-text="Zespół">Zespół</a></li>
      <li class="page__nav-list-item"><a href="#contact" class="page__nav-list-item-link page-link" data-text="Kontakt">Kontakt</a></li>
      <li class="page__nav-list-item"><a href="#cooperation" class="page__nav-list-item-link page-link" data-text="Współpraca">Współpraca</a></li>
      <li class="page__nav-list-item">
        <a href="https://www.e-kartoteka.pl/" target="_blank" class="page__nav-list-item-link" data-text="e-kartoteka">e-kartoteka
        </a>
      </li>
      <li class="page__nav-list-item ">
        <a href="#rescue" class="page__nav-list-item-link rescue page-link">
          pogotowie techniczne
        </a>
      </li>
      <li class="page__nav-list-item"><a href="#" class="page__nav-list-item-link" target="_blank" data-text="facebook"> <i class=" fa fa-facebook"></i> </a></li>
      <li class="page__nav-list-item"><a href="#" class="page__nav-list-item-link" target="_blank" data-text="twitter"> <i class="fa fa-twitter"></i> </a></li>
      <li class="page__nav-list-item"><a href="#" class="page__nav-list-item-link" target="_blank" data-text="linked-in"> <i class="fa fa-linkedin"></i> </a></li>
    </ul>
  </nav>
  <!-- ######## header ###########-->
  <header class="page__header">
    <div class="page__header-contentBox-left" data-aos="fade-right">
      <h1>Interdom s.c.</h1>
      <h2>Zarządzanie i Administrowanie <br />
        Nieruchomościami
      </h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia et, omnis minima quod vero quo nihil animi quaerat error quisquam aperiam ipsam ea, recusandae voluptate voluptas veritatis doloremque dicta!
      </p>
      <div class="row">
        <a href="#rescue" class="rescue rescue-header page-link">
          Pogotowie techniczne
        </a>
      </div>
      <div class="row socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <img class="header-img" src='../images/content/header-left-picture.jpg' alt='image' />
    </div>
    <div class="page__header-contentBox-right">
      <div class="page__header-slider " data-aos="fade-left">



        <!-- Start cssSlider.com -->
        <div class='csslider1 autoplay '>
          <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'>
          <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'>
          <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'>
          <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
          <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor'>
          <ul>
            <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
              <img src="http://cssslider.com/sliders/pen/images/buns.jpg" style="width: 100%;">
            </div>
            <li class='num0 img'>
              <a href="#" target=""><img src='../images/content/header-slider-1.jpg' alt='dev' title='dev' /> </a>
            </li>
            <li class='num1 img'>
              <a href="#" target=""><img src='../images/content/header-slider-2.jpg' alt='wm' title='wm' /> </a>
            </li>
            <li class='num2 img'>
              <a href="#" target=""><img src='../images/content/header-slider-3.jpg' alt='pw' title='pw' /> </a>
            </li>

          </ul>
          <div class='cs_description'>
            <label class='num0'>
              <span class="cs_title"><span class="cs_wrapper">osiedla developerskie</span></span>
            </label>
            <label class='num1'>
              <span class="cs_title"><span class="cs_wrapper">Wspólnoty Mieszkaniowe</span></span>
            </label>
            <label class='num2'>
              <span class="cs_title"><span class="cs_wrapper">Prywatni właściciele</span></span>
            </label>
          </div>

          <div class='cs_arrowprev'>
            <label class='num0' for='cs_slide1_0'></label>
            <label class='num1' for='cs_slide1_1'></label>
            <label class='num2' for='cs_slide1_2'></label>
          </div>
          <div class='cs_arrownext'>
            <label class='num0' for='cs_slide1_0'></label>
            <label class='num1' for='cs_slide1_1'></label>
            <label class='num2' for='cs_slide1_2'></label>
          </div>

          <div class='cs_bullets'>
            <label class='num0' for='cs_slide1_0'>
              <span class='cs_point'></span>
              <span class='cs_thumb'><img src='../images/content/header-slider-1.jpg' alt='Buns' title='Buns' /></span>
            </label>
            <label class='num1' for='cs_slide1_1'>
              <span class='cs_point'></span>
              <span class='cs_thumb'><img src='../images/content/header-slider-2.jpg' alt='Croissant' title='Croissant' /></span>
            </label>
            <label class='num2' for='cs_slide1_2'>
              <span class='cs_point'></span>
              <span class='cs_thumb'><img src='../images/content/header-slider-3.jpg' alt='Lemon pie' title='Lemon pie' /></span>
            </label>
          </div>
        </div>
        <!-- End cssSlider.com -->
      </div>
      <section id="about">
        <div class="row">
          <h2>O firmie</h2>
          <p class="text about-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia et, omnis minima quod vero quo nihil animi quaerat error quisquam aperiam ipsam ea, recusandae voluptate voluptas veritatis doloremque dicta!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia et, omnis minima quod vero quo nihil animi quaerat error quisquam aperiam ipsam ea, recusandae voluptate voluptas veritatis doloremque dicta!
            <br />
            <a href="#" class="more">Więcej &rarr;</a>
          </p>
        </div>
      </section>
    </div>
  </header>

  <!-- ########## sections ##########-->
  <section id="offer" class="section offer-sec">
    <div class="container">
      <h2>
        Nasza Oferta
      </h2>
      <div class="row" data-aos="fade-up">
        <p class="text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt odit dolorem corrupti aut consequuntur, explicabo commodi qui. Impedit, praesentium ducimus, est tempora atque eum neque labore aspernatur beatae facilis dignissimos!
          Doloremque voluptas aspernatur sit eius molestiae odit culpa assumenda minima quaerat, nemo magnam harum quia? Sunt inventore quis obcaecati error rem voluptate saepe pariatur tenetur enim facere, vel minima explicabo!
          Corrupti.
        </p>
      </div>
      <div class="offer__boxes">
        <a href="#">
          <div class="offer-box" data-aos="fade-up" data-aos-delay="300">
            <img src="../images/content/regulamin.svg" alt="regulamin" />
            <p class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nemo modi, amet, enim sequi magni aperiam voluptates asperiores eveniet vitae qui libero dolorum laudantium ipsum placeat iure praesentium? Facilis, quaerat.
            </p>
            <span>Pobierz</span>
          </div>
        </a>
        <a href="#">
          <div class="offer-box" data-aos="fade-up" data-aos-delay="400">
            <img src="../images/content/regulamin.svg" alt="regulamin" />
            <p class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nemo modi, amet, enim sequi magni aperiam voluptates asperiores eveniet vitae qui libero dolorum laudantium ipsum placeat iure praesentium? Facilis, quaerat.
            </p>
            <span>Pobierz</span>
          </div>
        </a>
        <a href="#">
          <div class="offer-box" data-aos="fade-up" data-aos-delay="500">
            <img src="../images/content/regulamin.svg" alt="regulamin" />
            <p class="text">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati nemo modi, amet, enim sequi magni aperiam voluptates asperiores eveniet vitae qui libero dolorum laudantium ipsum placeat iure praesentium? Facilis, quaerat.
            </p>
            <span>Pobierz</span>
          </div>
        </a>
      </div>
  </section>
  <section id="team" class="section team-sec">
    <div class="container">
      <h2>
        Zespół
      </h2>
      <p class="text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia et, omnis minima quod vero quo nihil animi quaerat error quisquam aperiam ipsam ea, recusandae voluptate voluptas veritatis
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum officia et, omnis minima quod vero quo nihil animi quaerat error quisquam aperiam ipsam ea, recusandae voluptate voluptas veritatis
      </p>

      <!-- swiper slider -->
      <div class="slider-container">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!-- cards -->
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture">
                    <img src="../images/content/mv.jpg" alt="mw">
                  </div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Jolanta i Słobińska</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>jolanta.slobinska@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Wojciech i Słobińśki</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">wojciech.slobinski@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Anna i Grzelka</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">Anna.Grzelka@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Borys i Pawłowski</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">borys.pawlowski@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Piotr i Słobiński</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">piotr.slobinski@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Małgorzata Iksińska</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">malgorzata.iksinska@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Katarzyna Iksińska</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">katarzyna.iksinska@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Beata Iksińska</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">beata.iksinska@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Agata Makowiecka</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">agata.makowiecka@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Grzegorz Michalak</h4>

                  <p class="card__content-describe text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail">grzegorz.michalak@interdom-nieruchomosci.pl</a>
                </div>
              </div>
            </div>
            <!-- slides end -->
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>


    </div>

  </section>
  <section class="contact-sections-wrapper">
    <section id="rescue" class="section rescue-sec">
      <div class="container">
        <div class="rescue-box rescue-box1">
          <h2>
            Pogotowie techniczne
          </h2>
          <p class="text">
            Do Państwa dyspozycji funkcjonuje całodobowy telefon alarmowy pod który naley dzwonić w celu zgłaszania awarii w nieruchomośći.
          </p>
          <a href="tel:555333444" class="rescue-phone"> <i class="fas fa-phone"></i> <span>555333444</span></a>
        </div>

        <div class="rescue-box reascue-box2">
          <img src='../images/content/call-center.jpg' alt='image' />
        </div>
        <hr class="section-border" />
      </div>
    </section>
    <section id="contact" class="section contact-sec">
      <div class="container">
        <div class="row">
          <h2>Kontakt</h2>
        </div>
        <div class="contact-content-box">
          <div class="box box1 map">
            <img src="../images/content/map.png" alt="map">
          </div>
          <div class="box box2 messages">
            <div class="contact-info">
              <h2>Skontaktuj się z nami</h2>
              <p class="text">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius, exercitationem at consequatur iusto labore expedita.
              </p>
              <div class="row address-box">
                <address>
                  <span>
                    ul. Rewolucji 1905 r nr 7, lok. 3/3a <br />
                    90-270 Łódź
                  </span>
                </address>
              </div>
            </div>
            <form action="PUT">
              <div class="row input-box">
                <input type="text" placeholder="Imię i Nazwisko"><input type="email" placeholder="e-mail">
              </div>
              <textarea name="message" id="message" cols="30" rows="10" placeholder="Twoja wiadomość"></textarea><br />
              <input class="btn" type="submit" value="Wyślij" />
            </form>
          </div>
        </div>
      </div>
    </section>
  </section>
  <section id="cooperation" class="section cooperation-sec">
    <h2>
      współpraca
    </h2>
  </section>

  <!-- ######### page footer ########### -->

  <footer class="page__footer"></footer>
  <a href="./index.html" id="totop">↑</a>


  <!-- <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script> -->
</body>

</html>