<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src='https://kit.fontawesome.com/132e87df1f.js'></script>
  <script defer src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
  <title>interdom s.c.</title>
</head>

<body>
  <div class="menu-btn">
    <div class="menu-btn__burger"> </div>
  </div>

  <nav class="page__nav">
    <a href="./index.html" class="brand">
      <img class="logo" src='../images/content/logo-mg.png' alt='logo' title='logo' />
    </a>
    <ul class="page__nav-list">
      <li class="page__nav-list-item"><a href="#about" class="page__nav-list-item-link page-link" data-text="O firme">O firmie</a></li>
      <li class="page__nav-list-item"><a href="#offer" class="page__nav-list-item-link page-link" data-text="Oferta">Oferta</a></li>
      <li class="page__nav-list-item"><a href="#team" class="page__nav-list-item-link page-link" data-text="Zespół">Zespół</a></li>
      <li class="page__nav-list-item"><a href="#contact" class="page__nav-list-item-link page-link" data-text="Kontakt">Kontakt</a></li>
      <li class="page__nav-list-item"><a href="#footer" class="page__nav-list-item-link page-link" data-text="Współpraca">Współpraca</a></li>
      <li class="page__nav-list-item">
        <a href="https://www.e-kartoteka.pl/" target="_blank" class="page__nav-list-item-link" data-text="e-kartoteka">e-kartoteka
        </a>
      </li>
      <li class="page__nav-list-item ">
        <a href="#rescue" class="page__nav-list-item-link rescue page-link">
          pogotowie techniczne
        </a>
      </li>
      <li class="page__nav-list-item"><a href="#" class="page__nav-list-item-link" target="_blank" data-text="facebook"> <i class=" fa fa-facebook"></i> </a></li>
      <li class="page__nav-list-item"><a href="#" class="page__nav-list-item-link" target="_blank" data-text="twitter"> <i class="fa fa-twitter"></i> </a></li>
      <li class="page__nav-list-item"><a href="#" class="page__nav-list-item-link" target="_blank" data-text="linked-in"> <i class="fa fa-linkedin"></i> </a></li>
    </ul>
  </nav>
  <!-- ######## header ###########-->
  <header class="page__header">
    <div class="page__header-contentBox-left" data-aos="fade-right">
      <h1>Interdom s.c.</h1>
      <h2>Zarządzanie i Administrowanie <br />
        Nieruchomościami
      </h2>
      <p>
        Ponad trzydzieści lat na rynku! Jedna z pierwszych firm zajmujących się zarządzaniem i administrowaniem nieruchomościami! Setki zadowolonych klientów! Rzetelność i profesjonalizm! Poparte sukcesami doświadczenie w działaniu! Kilkadziesiąt przeprowadzonych remontów nieruchomości iwiele więcej...
      </p>
      <div class="row row-rescue">
        <a href="#rescue" class="rescue rescue-header page-link">
          Pogotowie techniczne
        </a>
      </div>
      <div class="row socials">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
      </div>
      <img class="header-img" src='../images/content/header-left-picture.jpg' alt='image' />
    </div>
    <div class="page__header-contentBox-right">
      <div class="page__header-slider " data-aos="fade-left">



        <!-- Start cssSlider.com -->
        <div class='csslider1 autoplay '>
          <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide'>
          <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide'>
          <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide'>
          <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
          <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor'>
          <ul>
            <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
              <img src="http://cssslider.com/sliders/pen/images/buns.jpg" style="width: 100%;">
            </div>
            <li class='num0 img'>
              <a href="#" target=""><img src='../images/content/header-slider-1.jpg' alt='dev' title='dev' /> </a>
            </li>
            <li class='num1 img'>
              <a href="#" target=""><img src='../images/content/header-slider-2.jpg' alt='wm' title='wm' /> </a>
            </li>
            <li class='num2 img'>
              <a href="#" target=""><img src='../images/content/header-slider-3.jpg' alt='pw' title='pw' /> </a>
            </li>

          </ul>
          <div class='cs_description'>
            <label class='num0'>
              <span class="cs_title"><span class="cs_wrapper">osiedla developerskie</span></span>
            </label>
            <label class='num1'>
              <span class="cs_title"><span class="cs_wrapper">Wspólnoty Mieszkaniowe</span></span>
            </label>
            <label class='num2'>
              <span class="cs_title"><span class="cs_wrapper">Prywatni właściciele</span></span>
            </label>
          </div>

          <div class='cs_arrowprev'>
            <label class='num0' for='cs_slide1_0'></label>
            <label class='num1' for='cs_slide1_1'></label>
            <label class='num2' for='cs_slide1_2'></label>
          </div>
          <div class='cs_arrownext'>
            <label class='num0' for='cs_slide1_0'></label>
            <label class='num1' for='cs_slide1_1'></label>
            <label class='num2' for='cs_slide1_2'></label>
          </div>

          <div class='cs_bullets'>
            <label class='num0' for='cs_slide1_0'>
              <span class='cs_point'></span>
              <span class='cs_thumb'><img src='../images/content/header-slider-1.jpg' alt='Buns' title='Buns' /></span>
            </label>
            <label class='num1' for='cs_slide1_1'>
              <span class='cs_point'></span>
              <span class='cs_thumb'><img src='../images/content/header-slider-2.jpg' alt='Croissant' title='Croissant' /></span>
            </label>
            <label class='num2' for='cs_slide1_2'>
              <span class='cs_point'></span>
              <span class='cs_thumb'><img src='../images/content/header-slider-3.jpg' alt='Lemon pie' title='Lemon pie' /></span>
            </label>
          </div>
        </div>
        <!-- End cssSlider.com -->
      </div>
      <section id="about">
        <div class="row">
          <h2 data-aos="fade-up" >O firmie</h2>
          <p class="text about-text" data-aos="fade-up" data-aos-delay="400">
            Jesteśmy jedną z pierwszych firm zarządzających nieruchomościami w Łodzi. Od 25 lat fachowo i profesjonalnie zajmujemy się nieruchomościami w naszym mieście. Zaufało nam kilkadziesiąt Wspólnot Mieszkaniowych i prywatnych właścicieli. Obecnie dbamy o ponad 130 000 m<sup>2</sup> i kilkuset klientów zadowolonych ze współpracy.
            <br/><br/>

            Pani Jolanta Słobińska, założycielka firmy Interdom, licencjonowany Zarządca nieruchomości (licencja nr 3681) oraz Zarządca sądowy, osobiście zajmuje się sprawami najważniejszymi dla naszych klientów.
            Zapewniamy pełną obsługę finansowo-księgową. Pozwala to na kompleksową kontrolę finansów Zarządu Wspólnot i właścicieli. Umożliwia to autorski program, stworzony i rozwijany przez nas, aby sprostać wyzwaniom   XXI wieku.

            <br/><br/>
            Dbając o interesy naszych klientów, na podstawie pełnomocnictw reprezentujemy ich przed sądami, urzędami i instytucjami skutecznie egzekwując powierzone zadania.
            Gwarantem wysokiego poziomu świadczonych przez nas usług jest współpraca ze sprawdzonymi podmiotami rynku nieruchomości. Ponadto posiadany OC Zarządcy Nieruchomości w wysokości 
            850.000 zł.

<br/><br/>
            Zapewniamy Państwu najlepszy i najszybszy kontakt z nami w formie elektronicznej.
             Bazując na naszym wieloletnim doświadczeniu zapewniamy usługi na najwyższym poziomie. Każdy z klientów firmy Interdom, odnalazł w nas rzetelnego partnera. 
            Państwo również, mogą nam zaufać i sprawdzić nasze umiejętności oraz efektywnie współpracować z nami przez wiele lat.
            
            <br />
            <a href="#offer" class="more">Więcej &rarr;</a>
            
          </p>
        </div>
      </section>
    </div>
  </header>

  <!-- ########## sections ##########-->
  <section id="offer" class="section offer-sec">
    <div class="row" data-aos="fade-up">
      <h2>
        Nasza Oferta
      </h2>
      <h3>
        Zapoznaj sie z naszą wypracowaną latami doświadczen ofertą!
      </h3>

    </div>
    <div class="container container--offer">
      <article class="offer__article management" data-aos="fade-up">
        <header class="article--header">
        <h2>Zarządzanie i admnistrwanie</h2>
          <p class=”text”>O interesy i sprawy naszych klientów dba zespół pracowników charakteryzujących się nowoczesnym    podejściem i szerokim doświadczeniem. Dla każdego klienta wybieramy odpowiedniego administratora cechującego się znajomością przedmiotu umowy.
          </p>
      </header>
      <div class="article--contentBox">
        <ul class=”offer__list”>
          <li class=”offer__item”>Optymalizację kosztów związanych z użytkowaniem nieruchomości,
          </li>
          <li class=”offer__item”>Utrzymanie w należytym porządku i czystości pomieszczeń oraz terenów wspólnego użytku Wspólnoty,
          </li>
          <li class=”offer__item”>
            Prowadzenie zgodnych z uchwałami, bieżących ewidencji przychodów i kosztów,
          </li>
          <li class=”offer__item”>
            Składanie pisemnych sprawozdań rocznych do 31 marca każdego roku następnego po okresie obrachunkowym.
          </li>
          <li class=”offer__item”>
            Przygotowanie projektu rocznych planów gospodarczych,
          </li>
          <li class=”offer__item”>
            Udzielanie, każdemu właścicielowi na jego życzenie, informacji dotyczących zarządzania nieruchomością,
          </li>
          <li class=”offer__item”>
            Przygotowywanie, zwoływanie i obsługa zebrań Wspólnoty Mieszkaniowej
          </li>
          <li class=”offer__item”>
            Przechowywanie, zabezpieczanie i archiwizowanie dokumentów Wspólnoty Mieszkaniowej.
          </li>
          <li class=”offer__item”>
            Skuteczne i bezzwłoczne działania w przypadku zdarzeń niespodziewanych,
          </li>
          <li class=”offer__item”>
            Sprawdzanie i odbiór wszystkich napraw i remontów,
          </li>
          <li class=”offer__item”>
            Informowanie Zarządu o zmianach w aktach prawa miejscowego związanych z nieruchomością,
          </li>
          <li class=”offer__item”>
            Dbanie o regulację zaległych należności przez właścicieli,
          </li>
          <li class=”offer__item”>
            Prowadzenie korespondencji z członkami Wspólnoty i innymi podmiotami.
          </li>
        </ul>
      </div>
      <footer class="article--footer">
        <a  class="more more--offer">czytaj więcej ↓</a>
      </footer>
      </article>
      <!-- account article -->
      <article class="offer__article" data-aos="fade-up">
        <header class="article--header">
          <h2>Księgowość</h2>
          <p class="text text-account">
            Prowadzenie ewidencji rozrachunkowych jest jedną z najważniejszych czynności o jaką dbamy. Aby w pełni zabezpieczyć wszystkie informacje księgowe zostają one przetworzone przez nasz autorski program. Komputery pracujące z tak ważnymi danymi są odłączone od sieci w celu zapewnienia maksymalnego bezpieczeństwa prywatnych danych naszych klientów.
          </p>
        </header>
        <div class="article--contentBox">
          <ul class=”offer__list”>
            <li class=”offer__item”>
              Prowadzenie księgowości dla nieruchomości wspólnej w tym:
               <li class=”offer__item—-sub”>ewidencji kosztów i przychodów,</li>
               <li class=”offer__item—-sub”>ewidencji wpłat na fundusz remontowy,</li>
               <li class=”offer__item—-sub”>ewidencji opłat na pokrycie kosztów eksploatacyjnych,</li>
              </li>
            <li class="offer__item">
                Sporządzanie rocznych sprawozdań finansowych, 
            </li>
            <li class="offer__item">
              	Rozliczanie rocznych planów gospodarczych, w tym funduszy remontowych,
            </li>
            <li class="offer__item">
              	Prowadzenie kont rozrachunkowych poszczególnych właścicieli,
            </li>
            <li class="offer__itme">
              Prowadzenie windykacji należności właścicieli,
            </li>
            <li class="offer__itme">
              Zabezpieczanie i przechowywanie księgowych dokumentów Wspólnoty,
            </li>
            <li class="offer__itme">
              Na życzenie Wspólnoty Mieszkaniowej/ właściciela umożliwiamy wgląd
              w dokumenty księgowe poprzez kanały elektroniczne oraz dostęp do e-kartoteki,
            </li>
            <li class="offer__itme">
              Opracowywanie dla nieruchomości budżetów:
              <li class="offer__item--sub">
                operacyjnego
              </li>
              <li class="offer__item--sub">
                remontowego
              </li>
            </li>
          </ul>
        </div>
      <footer class="article--footer">
        <a  class="more more--offer">czytaj więcej ↓</a>
      </footer>
  </article>

  <article class="offer__article" data-aos="fade-up">
    <header class="article--header">
      <h2>Obsługa prawna</h2>
      <p class="text">
        Nasi pracownicy biegle poruszają się w przepisach prawnych. Klienci Interdom na bieżąco informowani są o zmianach w prawie miejscowym. Dzięki współpracy ze sprawdzonymi kancelariami   adwokackimi i podmiotami rynku bankowo-ubezpieczeniowego jesteśmy w stanie zabezpieczyć Państwa interesy. 
      </p>
    </header>
    <div class="article--contentBox">
     <ul class="offer__list">
       <li class="offer__item">
        	Reprezentowanie Wspólnoty Mieszkaniowej przed sądem na podstawie pełnomocnictw,
       </li>
       <li class="offer__item">
        	Windykację należności od właścicieli lokali odrębnych, 
       </li>
       <li class="offer__item">
        Przygotowywanie dokumentów umożliwiających sądową windykację właścicieli,
       </li>
       <li class="offer__item">
        Ubezpieczanie budynków położonych na nieruchomości wspólnej, 
       </li>
       <li class="offer__item">
        Otwarcie rachunku bankowego dla Wspólnoty Mieszkaniowej i realizacja rozliczeń w tym  prowadzenie:
          <li class="offer__item--sub">
            rachunku bieżącego
          </li>
          <li class="offer__item--sub">
            rachunku dla środków funduszy remontowego,
          </li>
       </li>
       <li class="offer__item">
        Opłacanie podatków i innych opłat publicznoprawnych, chyba że są one pokrywane bezpośrednio przez właścicieli, 
       </li>
       <li class="offer__item">
        	Przygotowania i podpisywania umów dotyczących obsługi nieruchomości, na podstawie pełnomocnictw,
       </li>
       <li class="offer__item">
        Współpraca ze sprawdzonymi kancelariami prawnymi specjalizującymi się w obsłudze Wspólnot Mieszkaniowych,
       </li>
       <li class="offer__item">
        Zlecanie sporządzenia opinii prawnych i umów,
       </li>
       <li class="offer__item">
        Wybór optymalnych ofert ubezpieczeń dla nieruchomości.
       </li>
     </ul>
    </div>
  <footer class="article--footer">
    <a class="more more--offer">czytaj więcej ↓</a>
  </footer>
</article>

<article class="offer__article" data-aos="fade-up">
  <header class="article--header">
    <h2>Obsługa techniczna</h2>
    <p class="text">
Od lat współpracujemy z rzetelnymi podmiotami rynku nieruchomości: firmami sprzątającymi, hydraulicznymi, dekarskimi, budowlanymi, elektrycznymi, architektami, geodetami, audytorami, co gwarantuje wysoki poziom usług. 
    </p>
  </header>
  <div class="article--contentBox">
<ul class="offer__list">
  <li class="offer__item">
    	Zapewnienie dla nieruchomości wspólnej usług kominiarskich  oraz innych związanych z prawidłowym funkcjonowaniem urządzeń technicznych.
  </li>
  <li class="offer__item">
    Wykonywanie bieżących konserwacji i napraw nieruchomości wspólnej oraz urządzeń technicznych, poprzez nadzór nad zawartymi umowami,
  </li>
  <li class="offer__item">
    Kontrola usuwania awarii i ich skutków, 
  </li>
  <li class="offer__item">
    Utrzymanie obiektów budowlanych w należytym stanie technicznym  
  </li>
  <li class="offer__item">
    Prowadzenie umów z podmiotami świadczącymi dostawy mediów i innych usług,
  </li>
  <li class="offer__item">
    Nadzorowanie prac modernizacyjnych, remontowych i konserwacyjnych,
  </li>
  <li class="offer__item">
    Zlecanie rocznych i pięcioletnich  przeglądów technicznych nieruchomości,
  </li>
  <li class="offer__item">
    Prowadzenie księgi obiektu budowlanego oraz dokumentacji technicznej.
  </li>
</ul>
  </div>
<footer class="article--footer">
  <a  class="more more--offer">czytaj więcej ↓</a>
</footer>
</article>

<!-- ##### team section #### -->
  </section>
  <section id="team" class="section team-sec">
    <div class="container">
      <h2 data-aos="fade-up">
        Zespół
      </h2>
      <p class="text" data-aos="fade-up">
        O interesy i sprawy naszych klientów dba zespół pracowników charakteryzujących się nowoczesnym podejściem i szerokim doświadczeniem. Dla każdego klienta wybieramy odpowiedniego administratora cechującego się znajomością przedmiotu umowy.
      </p>

      <!-- swiper slider -->
      <div class="slider-container" data-aos="fade-in" data-aos-delay="600">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <!-- cards -->
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture">

                  </div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Jolanta i Słobińska</h4>
                  <p class="card__content-describe text">
                      Zarządca Nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                  <i class="fa fa-envelope"></i>
                  e-mail
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Wojciech i Słobińśki</h4>

                  <p class="card__content-describe text">
Wspólnik firmy
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Anna Grzelka</h4>

                  <p class="card__content-describe text">
Zarządca Nieruchomości - administrator
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Borys Pawłowski</h4>

                  <p class="card__content-describe text">
Administrator nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture">
                    <!-- <img src="../images/content/ja-profil.jpg" alt="piotr_slobinski"> -->
                  </div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Piotr Słobiński</h4>
                  <p class="card__content-describe text">
                    administrator nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture">
                    <!-- <img src="../images/content/pacuk.jpg" alt="malgorzata_pacuk"> -->
                  </div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Małgorzata Pacuk</h4>
                  <p class="card__content-describe text">
                    administrator nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture">
                    <!-- <img src="../images/content/maugos.jpg" alt="małgorzata_świderska"> -->
                  </div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Małgorzata Świderska</h4>
                  
                  <p class="card__content-describe text">
Administrator Nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Katarzyna Iksińska</h4>

                  <p class="card__content-describe text">
Administrator Nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture"></div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Beata Iksińska</h4>

                  <p class="card__content-describe text">
                    Administrator Nieruchomości
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <!-- card -->
              <div class="card">
                <div class="card__header">
                  <div class="card__header-picture">

                  </div>
                </div>
                <div class="card__content">
                  <h4 class="card__content-name">Agata Makowiecka</h4>

                  <p class="card__content-describe text">
Księgowość
                  </p>
                  <div class="card__content-socials">
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-facebook"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-twitter"></i></a>
                    <a href="#" target="_blank" rel="noopener noreferrer"><i class="fa fa-linkedin"></i></a>
                  </div>
                  <a class="card__content-mail" mailto:piotr.slobinski@gmail.com>
                    <i class="fa fa-envelope"></i>
                    e-mail
                    </a>
                </div>
              </div>
            </div>
         
            <!-- slides end -->
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
    </div>
    <div class="layer-box"></div>
  </section>
  
  
  <!-- contact section -->
  <section class="contact-section" id="contact">
    
  <h2 class="title" data-aos="fade-up">
    Kontakt
  </h2>
    <div class="row" data-aos="fade-up">
      <p class="text">
          Nasze biuro mieści się w dogodnej loaklizacji, w centrum miasta. 
          Poniżej znajdą Państwo dni i godziny pracy biura, oraz dane kontaktowe.
      </p>
    </div>

    <div class="row contact-icons">
      <div class="contact-box" data-aos="fade-up" data-aos-delay="400">
        <a href="#" class="contact-link">
          <i class="fas fa-map-marker"></i>
        </a>
        <address class="contact-describe">
          ul. Rewolucji 1905 r. Nr 7, lok. 3/3a <br/>
          90-273 Łódź
        </address>
      </div>
      <div class="contact-box" data-aos="fade-up" data-aos-delay="600">
        <a href="tel:426308455" class="contact-link">
          <i class="fas fa-phone"></i>
        </a>
        <span class="contact-describe">
          +42 630 84 55   +42 639 98 37
        </span>
      </div>
      <div class="contact-box" data-aos="fade-up" data-aos-delay="800">
        <a href="mailto: biuro@interdom-nieruchomosci.pl" class="contact-link">
          <i class="fab fa-telegram-plane"></i>
        </a>
       <span class="contact-describe">
         biuro@interdom-nieruchomosci.pl
       </span>
      </div>
    </div>  

    <div class="row table-row" data-aos="fade-up" data-aos-delay="1000">
      <h3 class="title">
        Dni i godziny pracy biura:
      </h3>
      <table>
        <tr>
         <td class="days">Poniedziałek</td>
         <td class="hours">08:00 - 16:00</td>
       <tr>
        <td class="days">Wtorek</td>
        <td class="hours">09:00 - 17:00</td>
      </tr>
      <tr>
        <td class="days">Czwartek</td>
        <td class="hours">08:00 - 16:00</td>
      </tr>
      <tr>
        <td class="days">Piatek</td>
        <td class="hours">08:00 - 16:00</td>
      </tr>
      </table>
    </div>
  
    <div class="row message-row" data-aos="fade-up" data-aos-delay="1200">

      <div class="contact-wrapper">
        <h2 class="title">
          Napisz do nas!
        </h2>
        <form action="PUT">
          <div class="contact__form-box box-left">
            <input type="text" class="text" placeholder="Imię i Nazwisko*">
            <div class="row input-row">
              <input type="email" name="mail" id="mail" placeholder="e-mail*">
              <input type="tel" name="phone" id="phone" placeholder="telefon*">
            </div>
            <input type="text" name="adres" id="adres" placeholder="Adres nieruchomości*">
          </div>
          <div class="contact__form-box box-right">
            <textarea name="meassage" id="meassage" cols="50" rows="10" placeholder="Wiadomość*..."></textarea>
          </div>
        </form>
        <div class="row send-row">
         <span class="text">*Wysyłając wiadomość wyrażają Państwo zgodę na przretwarzanie swoich danych osobowych zgodnie ze <a href="#" target="_blank" rel="noopener noreferrer" class="rodo-link">standardami RODO.</a></span>
          <input type="submit" value="wyślij" class="btn send-btn">
        </div>
      </div>
    </div>
  </section>

    <!-- ######### rescue ########## -->
    <section id="rescue" class="section rescue-sec">
      <div class="container">
        <div class="rescue-box rescue-box1">
          <h2>
            Pogotowie techniczne
          </h2>
          <p class="text">
            Do Państwa dyspozycji funkcjonuje całodobowy telefon alarmowy pod który naley dzwonić w celu zgłaszania awarii w nieruchomośći.
          </p>
          <a href="tel:530 223 625 
          " class="rescue-phone"> <i class="fas fa-phone"></i> <span>530 223 625
            </span></a>
        </div>
        <div class="rescue-box rescue-box2"></div>
      </div>
    </section>
  </section>


  <!-- ######### page footer ########### -->

  <footer id="footer" class="page__footer">
    <div class="container">


    </div>
  </footer>
  <a href="./index.html" id="totop">↑</a>


  <a href="#" id="totop" >
    <i class="fa fa-long-arrow-up" aria-hidden="true"></i>
  </a>
</body>

</html>