/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);

$body-background-color: $white;
$brand-color: $white;
$foreground-color: hsl(0, 0%, 9%);
$caption-color: #464646;
$accent-color: hsl(0, 0%, 60%);
$link-color: hsl(221, 44%, 41%);
$main-c: $white;
$hero-color: hsl(190, 71%, 93%);
$rescue-color: hsl(0, 100%, 49%);
/* Components */

// $header-bg: radial-gradient(#0f93cc 0%, #0b02ab 100%);
$header-bg: radial-gradient(circle at 50%, #3967c9 10%, #30548b 90%);
// $header-bg: #99c0e0;
// $header-bg: #8b9dc3;
// $header-bg: $link-color;

// backgrounds:
$nav-bg: transparent;
$menu-bg: transparent;
$bar-bg: $white;
$article-bg: $hero-color;

// widts & heights:
$menu-btn-width: 70px;
$menu-btn-height: 66px;

$burger-width: 30px;
$burger-height: 2px;
