.contact-sec {
  position: relative;

  h2 {
    text-align: center;
  }

  .row {
    display: flex;
    gap: 4%;
    color: $main-c;

    @include respond-below(md) {
      flex-flow: column wrap;
    }

    .contact-box,
    .formBox {
      flex-basis: 45%;
    }

    .contact-box {
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      p {
        padding: 1em 2em;
        text-align: center;

        @include respond-below(md) {
          text-align: center;
          padding: 1rem 0.3rem;
          font-size: 16px;
        }
      }

      address {
        padding: 1.2rem 0;
        font-style: italic;
      }

      .contact-list {
        padding-left: 1.2rem;
        margin-bottom: 2em;

        li {
          margin-top: 1rem;

          a {
            color: $main-c;
          }
        }

        .mail {
          @include respond-below(md) {
            font-size: 15px;
          }
        }
      }

      .working__days {
        .hours {
          padding-left: 20px;
        }
      }

      .map-box {
        margin: 40px 0;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #0a2a43;
          // z-index: 9999;
          mix-blend-mode: color;
        }
      }
    }

    .formBox {
      padding: 10px;
      -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);
      box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.37);

      @include respond-below(md) {
        box-shadow: none;
      }

      p.text {
        padding: 1em 2em;
        text-align: center;
      }

      @include respond-below(md) {
        margin-top: 2rem;

        p.text {
          font-size: 16px;
          padding: 1em;
        }

        h2 {
          padding: 1.3rem 0;
          font-size: 28px;
        }
      }
    }

    .form {
      input:not(input[type="submit"]) {
        position: relative;
        display: block;
        padding-top: 1em;
        all: unset;
        background: transparent;
        border: none;
        border-bottom: 1px solid $main-c;
        width: 90%;
        color: $main-c;
        padding: 5px;
        // microsoft edge
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;

        &::placeholder {
          position: relative;
          color: inherit;
        }
      }

      textarea {
        margin-top: 80px;
        background: transparent;
        color: $main-c;
        border: 1px solid $main-c;
        width: 100%;
        padding: 5px;
        font-family: inherit;

        &::placeholder {
          color: $main-c;
        }
      }

      input[type="submit"] {
        color: $main-c;
        font-size: 1rem;
        margin-top: 10px;
        padding: 5px 20px;
        border: 1px solid $main-c;
        @include border-radius(28px);
        cursor: pointer;
      }
    }
  }

  .info {
    margin-top: 10px;
    font-size: 12px;
  }
}
