
.contact-section{
  padding-top: 120px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91%);
  // ogarnąć poligona!


  h2.title,
  p.text{
    color: $main-c;
  }

  p.text{
    text-align: center;
  }

  .contact-icons{
    display: flex;
    justify-content: space-evenly;

    .contact-box{
      display: flex;
      flex-basis: fill;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;


     .contact-link{
       padding: 20px 0;
       position: relative;
       width: 60px;
       height: 60px;
       background: #2196f3;
       color: $white;
       padding: 10px;
       @include fluidSize(10px, 28px);
       @include transition(all, 0.45s);
       @include border-radius(100%);
       display: flex;
       justify-content: center;
       align-items: center;

        &:hover {
          background: #2196f3;
          box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
          @include border-radius(100%);
        }
      }

      .contact-describe{
        padding: 20px 0;
        color:$main-c;
      }
    }
  }
}

.table-row{
  display: flex;
  justify-content: center;

  table{
    color:$main-c;

    th{
      text-align: center;
      padding: 20px 0;
      font-weight: 600;
    }
  }
}