.container--offer {
  padding-bottom: 20px;
  display: flex;
  flex-wrap: wrap;

  @include respond-below(md) {
    flex-direction: column;
    width: 90%;
  }
}

h2 {
  @include fluidSize(10px, 30px);
  font-weight: 600;
  text-align: center;
}

h3 {
  text-align: center;

  @include respond-below(md){
    padding: 0 20px;
  }
}

.offer__article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
  margin: 30px auto;
  overflow-y: hidden;
  -webkit-box-shadow: 6px 1px 15px 3px rgba(0, 0, 0, 0.32);
  box-shadow: 6px 1px 15px 3px rgba(0, 0, 0, 0.32);

  @include respond-below(md) {
    width: 100%;
  }

  .article--header,
  .article--footer {
    background: $article-bg;
    width: 100%;
    padding: 20px 40px;
    text-align: center;
    font-size: 13px;
  }

  .article--header {
    height: 200px;

    @include respond-below(md) {
      height: 240px;
    }

    p {
      font-size: 13px;
      padding-top: 20px;
    }

    .text-account {
      font-size: 12px;
    }
  }

  .article--footer {
    z-index: 10000;

    .more {
      color: $link-color;
      cursor: pointer;
    }
  }

  h2 {
    text-align: center;
  }
}

.article--contentBox {
  padding: 0 40px;
  height: auto;

  ul {
    height: 0;
    visibility: hidden;

    li {
      margin-top: 0;
      padding-left: 20px;
      position: relative;
      font-size: 13px;
      list-style-type: disc;

      .offer__item—-sub {
        padding-left: 20px;
      }

      // &::before {
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   content: "";
      // }
    }
  }
}

.showList {
  height: 100% !important;
  visibility: visible !important;
  @include transition(all, 1s);
  padding: 20px 0;

  li {
    padding-top: 10px;
  }
}
