.rescue-sec {
  position: relative;
  background: linear-gradient(to right, hsl(0, 90%, 61%) , hsl(240, 97%, 66%));
  background-blend-mode: overlay;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    border: none;

    @include respond-below(md) {
      flex-flow: wrap column;
    }

    .rescue-box {
      padding-top: 140px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column wrap;

      h2,
      p,
      a {
        color: $white;
        text-align: center;

        @include respond-below(md) {
          margin-top: 20px;
        }
      }

      p {
        padding: 50px 0;
        @include fluidSize(16px, 20px);
      }

      .rescue-phone {
        @include fluidSize(20px, 40px);
        border: 2px solid $white;
        padding: 10px 50px;
        @include border-radius(50px);
        animation: pulse 3s infinite ease-in-out;
        -webkit-animation: pulse 3s infinite ease-in-out;
        overflow: hidden;

        @include respond-below(md) {
          padding: 20px 50px;
        }
      }
    }
  }
}

//###############################################
//################# animations   ################
//###############################################

@keyframes pulse {
  from {
    color: $white;
  }
  to {
    color: lighten($link-color, 30);
  }
}
